@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

body {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: black;

  background-color: white;
}

h1 {
  font-size: 4rem;
}

a {
  color: gray;
}
