body {
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
}

h2 {
  font-size: 56px;
}

.hero {
  padding: 250px 0;
  margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("El Capitan LD.jpeg");
  background-size: cover;
  color: #ffffff;
}

p {
  font-size: 2rem;
}

.hero a {
  color: #00FFAA;
  font-size: 1.25em;
  text-decoration: none;
}

#footer {
  font-size: 0.75rem;
}
