body {
  text-align: center;
  background-image: url("El Capitan LD.jpeg");
  background-size: cover;
}

h1 {
  font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
}

h2 {
  font-size: 56px;
}

.hero {
  padding: 250px 0;
  margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("NyanCat.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
}

p {
  font-size: 2rem;
}

.hero a {
  color: #fff;
  font-size: 5em;
  text-decoration: none;
}

.button a {
  color: #fff;
  font-size: 5em;
  text-decoration: none;
}

#footer {
  font-size: 0.75rem;
}
